<ion-view ng-controller="companyCardController">
    <ion-content class="padding"  scroll="false" style="background:black;width:100%;height:100%;">
        <ion-slide-box>
            <ion-slide options="options" slider="data.slider" ng-repeat ="obj in data" style="width:100%;height:100%;" >
                <center>
                <div class="card" style="background:white;color:black;width:90%;height:95%;">
                    <div class="item item-text-wrap" style="background:white;color:black">
                        <center>
                           <b>{{obj.companyHeading}}</b> 
                        </center>
                    </div>   
                    <div class="video-container"  style="margin-top:5%;">  
                        <div class="card-icons" style="color:black;align:horizontal;">
                            <div class="card-left-details">
                                <i class="icon company-card-icon ion-ios-clock-outline" style="margin-right:7%">{{obj.foundingDate}} |145,452|$3M|40,485</i>
                                <i class="icon company-card-icon ion-ios-location">{{obj.reach}}</i>
                                <i class="icon company-card-like ion-ios-heart" style="color:red;">{{obj.endorsement}}</i>
                            </div>
                        </div>
                        <div style="background:black;color:white">
                            <iframe src="https://www.youtube.com/embed/wyVM1evRxNw" style="width:100%;height:100%"></iframe>
                        </div>
                    </div>
                    <div class="content" style="margin-top:10%;">
                       {{obj.details}}
                    </div>
                    <div class="footer-company-details" style="margin-top:5%;">
                        <i class="icon company-card-icon ion-person larger">{{obj.companyName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon company-card-icon ion-flash larger">{{obj.funding}}</i></i>                  
                    </div>        
                    <div class="decision-buttons" style="margin-top:5%;">
                        <center>
                            <button class="button button-assertive">
                              Dislike
                            </button>
                            <button class="button button-balanced" ng-click="hitLike()">
                              Like
                            </button>
                        </center>
                    </div>
                </div>
                </center>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>