<ion-view view-title="">
  <ion-content class="padding" style="background:black;color:white;">
      
      <div class="home padding" style="background:black;color:white;">
        <center>
            <div class="first-half" style="height:50%">
            <div class="start" style="margin-top:5%;margin-bottom:10%;"><b> START YOUR JOURNEY  </b></div>
            <div class="welcometext item-text-wrap">Congratulations , friend! You're almost there.Just one last step and we are good to go fancy browsing.</div>
            <div class="get-started" style="margin-top:10%;margin-bottom:20%;" >
                <a class="button button-assertive" href="#/app/companyCards/:data" >
                Get Started <i class="icon ion-arrow-right-c"></i>
                </a>
            </div>
            </div>
            <div class="first-half" style="height:50%">
            <ion-slide-box>
              <ion-slide>
                <div id="card1" class="card" style="width:65%;height:50%;color:black;">
                   <div class = "box box1">
                      <img src ="img/ionic.png" style="width:50%;height:50%">
                         <h2><b>Crowd Ignitor</b></h2>
                       <p class="item-text-wrap">
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text.
                    </p>
                   </div>
                </div>
                </ion-slide>
            
              <ion-slide>
                <div id="card1" class="card" style="width:65%;height:50%;color:black;">
                   <div class = "box box2">
                      <img src ="img/ionic.png" style="width:50%;height:50%">
                         <h2><b>Crowd Ignitor</b></h2>
                       <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text.
                </p>
                   </div>
                    </div>
                </ion-slide>
            
              <ion-slide>
                 <div id="card1" class="card" style="width:65%;height:50%;color:black;">
                   <div class = "box box3">
                      <img src ="img/ionic.png" style="width:50%;height:50%">
                         <h2><b>Crowd Ignitor</b></h2>
                       <p>
                            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                            the content is from a card-body consisting of an image and paragraph text.
                        </p>
                   </div>
                </div>
                </ion-slide>              
            </ion-slide-box>
            </div>
        </center>
      </div>
   
  </ion-content>
</ion-view>
