<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content style="background:black;color:white;">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" style="background:black;color:white;"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" style="background:black;color:white;">
    <ion-header-bar class="bar-stable" style="background:black;color:white;">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list style="background:##FF9500;">
        <ion-item menu-close href="#/app/home" style="background:#FF9500;">
          Home
        </ion-item>  
        <ion-item menu-close href="#/app/companyCards" style="background:#FF9500;">
          Company Cards
        </ion-item> 
        <ion-item menu-close ng-click="login()" style="background:#FF9500;">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search" style="background:#FF9500;">
          Search
        </ion-item>
      </ion-list>
        <!--div class="list">
            <div menu-close class="item" href="#/app/home" style="background:#FF9500;"><b>Home</b> </div>
            <div menu-close class="item" href="#/app/companyCards" style="background:#FF9500;"><b>Company Cards</b></div>
            <div menu-close class="item" ng-click="login()" style="background:#FF9500;"><b>Login</b></div>
            <div menu-close class="item" href="#/app/search" style="background:#FF9500;"><b>Search</b></div>
        </div-->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
